.ant-tabs-nav-wrap{
    justify-content: center;
}
.ant-tabs-nav-list{
    width: 100%;
    max-width: 100vw;
    overflow-x: auto;
    gap: 0 !important;
}
.ant-tabs-tab{
    /* width: 50%; */
    justify-content: center;
    font-size: clamp(8px, 3vmin, 16px) !important;
    margin: 3vmin !important;
    padding-bottom: 0 !important;

}