@import "tailwindcss";
@config "../tailwind.config.js";

@font-face {
  font-family: poppins;
  src: url('/fonts/poppins/Poppins-Regular.ttf');
}

:root {
  --primaryColor: #519eb1;
  --primaryTextColor: #757575;
}

*{
  
  font-family: poppins;

}

.sample{
  color: #fda40028;
  color: #fda400;
}

.headingH1{
  font-size: 36px;
  line-height: 52px;
  font-weight: bold;
}
.headingH2{
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: bold;
}
.headingH3{
  font-size: 22px;
  font-weight: bold;
}
.headingH4{
  font-size: 18px;
  font-weight: bold;
}
.headingH5{
  font-size: 18px;
}

.paragraphP1{
  font-size: 16px;
  color: #757575;
}

.paragraphP2{
  font-size: 14px;
  color: #757575;
}

.paragraphP3{
  font-family: Arial, Helvetica, sans-serif;
}

.paragraphP4{
  font-size: 16px;
  color: #757575;
}